/* Signup.css */
.con {
  margin: 0;
  padding:10px;
  font-family: 'Arial', sans-serif;
  display: flex;
  height: 100vh;
  background-image: url('./image/signup.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}
  
  .signup-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    margin-top: 50px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group {
    width: 100%;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  